.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  transform: scale(0.8);
  gap: 8vw;

}

.aboutContent {
  flex: 1;
  max-width: 67%;
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
  background-color: white
}

.aboutContent h2 {
  font-size: 2.5vw;
  font-weight: bold;
  color: #11691a;
  margin: 0;
}




.aboutSection h3 {
  font-size: 2vw;
  color: #4169E1;
  margin-bottom: 1rem;
}

.aboutSection span {
  font-size: 1.5vw;
}

.aboutSection p {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #444;
  word-break: keep-all;
}

.profile {
  width: 23vw;
  height: 78.5vh;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-top: 12vh;
  position: sticky;
  transform: scale(0.9);
}

.companyName {
  font-size: 2vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #11691a;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.idCardContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 1.8vw;
  font-weight: bold;
  color: #11691a;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.position {
  font-size: 1.5rem;
  font-weight: bold;
  color: #11691a;
  margin-bottom: 0.5vw;
}

.details {
  font-size: 1.5rem;
  font-weight: bold;
  color: #11691a;
}

.bigLetter {
  font-size: 11vw;
  font-weight: bold;
  color: #11691a;
  position: absolute;
  top: 53vh;
  left: 3.5vw;
  opacity: 0.1;
}