.laptopWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.laptop {
  width: 80%;
  height: auto;
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.3));
}