.vscNav {
  position: fixed;
  left: 0;
  top: 0;
  width: 11vw;
  height: 100vh;
  background-color: #1e1e1e;
  color: #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.folder {
  font-weight: bold;
  font-size: 2.5rem;
  color: #bbb;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.file {
  font-size: 2.3rem;
  padding: 1vh 1vw;
  cursor: pointer;
  transition: background 0.3s;
}

.file:hover {
  background: rgba(255, 255, 255, 0.1);
}

.file.active {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}
