.introSection {
  width: 100%;
  height: 100vh;

  background-color: rgb(43, 43, 43);
  color: white;

  display: flex;
  justify-content: space-between;
}


.typedWrapper {
  margin-top: 15vh;
  padding-left: 4vw;

  max-width: 60vw;
  overflow: hidden;
}


/* typed.js 크기 및 색상 설정 */
.function {
  font-size: 5rem;
  color: rgb(28, 80, 152);
}

.functionName {
  font-size: 5rem;
  color: rgb(255, 249, 170);
}

.parentheses {
  font-size: 5rem;
  color: blueviolet;
}

.curlyBraces {
  font-size: 5rem;
  color: rgb(255, 221, 1);
}

.typedContent {
  font-size: 3rem;
}

/* 프로필카드 */
.profileContainer {
  background-color: white;

  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 5vw;
  
  padding: 0.5vh 0.5vw;
  margin: auto;
  height: 60vh;

  border-radius: 10px;
}


/* typed.js 관련 설정 */

/* 커서 */
.typed-cursor {
  font-size: 5rem;
}
